{% if page.sdg_goal == '1' %}
{% assign prev_goal = '17' %}
{% else %}
{% assign prev_goal = parseInt(page.sdg_goal)-1 %}
{% endif %}

<ol class="breadcrumb">
  <li><a href="{{ site.baseurl }}{{ baseurl_folder }}/">{{ t.general.home }}</a></li>
  {% if goal_uri %}
      <li><a href="{{ goal_uri }}" title="{{ goal_title }}">{{ t.general.goal }} {{ goal_number }}</a></li>
      <li class="active">{{ t.general.indicator }} {{ meta.indicator_display }}</li>
      <li id = "liRight">
        <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.next }}" title="next indicator">
          <span style="font-size:20px">>
          </span>
        </a>
      </li>
      <li id = "liRight">
        <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.previous }}" title="previous indicator">
          <span style="font-size:20px"><
          </span>
        </a>
      </li>

  {% else %}
      <li class="active">{{ t.general.goal }} {{ goal_number }}</li>
      <li id = "liRight">
        <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ prev_goal }}" title="previous goal">
          <span style="font-size:20px"><
          </span>
        </a>
      </li>

  {% endif %}

</ol>
