<table class="table table-hover">
  {% for indicator_metadata in site.data.schema %}

    {%- if t.metadata_fields[indicator_metadata.name] -%}
      {%- assign metadata_label = t.metadata_fields[indicator_metadata.name] -%}
    {%- else -%}
      {%- assign metadata_label = indicator_metadata.field.label -%}
    {%- endif -%}

    {% if indicator_metadata.field.scope == include.scope %}
      {% unless indicator_metadata.name contains "_url_text" or indicator_metadata.name contains "_link_text" or indicator_metadata.name contains "_year" %}
      <tr>
        {% if indicator_metadata.field.scope != 'content' %}
          <th scope="row">{{ metadata_label }} </th>

          <td colspan="4">
            {% if indicator_metadata.name contains "_url" or indicator_metadata.name contains "_link" %}
              {% assign url_text_name = indicator_metadata.name | replace_first:'_url','_url_text'  %}
              {% assign url_text_name = url_text_name | replace_first:'_link','_link_text'  %}
              {% assign url_text = meta[url_text_name] | t %}
              {% unless url_text %}
                {% assign url_text = 'Link' %}
              {% endunless %}

              {% if meta[indicator_metadata.name] contains "http" or meta[indicator_metadata.name] contains "mailto" %}
                <a href="{{ meta[indicator_metadata.name] }}" target="_blank">
                  {{ url_text }} <span class="visuallyhidden">{{ t.general.opens_new_window }}</span>
                </a>
              {% endif %}

            {% elsif indicator_metadata.field.element == 'multiselect' %}
              {% for item in meta[indicator_metadata.name] %}
                {{ item | t }}{% unless forloop.last %}, {% endunless %}
              {% endfor %}

            {% else %}
              {{ meta[indicator_metadata.name] | t | markdownify }}
            {% endif %}
          </td>
        {% else %} <!-- case: content -->
          <p> {{ meta[indicator_metadata.name] | t | markdownify }} </p>
        {% endif %}
      </tr>
      {% endunless %}


      {% if indicator_metadata.name contains "_year" %}

        {% if indicator_metadata.name contains "_a_" %}
          {% assign year_a = meta[indicator_metadata.name] | t | markdownify %}
        {% elsif indicator_metadata.name contains "_b_" %}
          {% assign year_b = meta[indicator_metadata.name] | t | markdownify %}
        {% elsif indicator_metadata.name contains "_c_" %}
          {% assign year_c = meta[indicator_metadata.name] | t | markdownify %}
        {% elsif indicator_metadata.name contains "_d_" %}
          {% assign year_d = meta[indicator_metadata.name] | t | markdownify %}

        {% assign status_downcase = year_a | downcase %}
        {% assign title = t.status[status_downcase] %}

            {% if indicator_metadata.name contains "_status" %}
              <tr>
                <th scope="row">{{ metadata_label }} </th>
                  {% if year_d and year_a %}
                  <td align="center"><a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ year_d }}.png" alt="Status" class="responsiveWeather" title="{{ year_d }}"/></a></td>
                  <td align="center"><a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ year_d }}.png" alt="Status" class="responsiveWeather" title="{{ year_c }}"/></a></td>
                  <td align="center"><a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ year_b }}.png" alt="Status" class="responsiveWeather" title="{{ year_b }}"/></a></td>
                  <td align="center"><a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ year_a }}.png" alt="Status" class="responsiveWeather" title="{{ title }}"/></a></td>
                  {% endif %}
              </tr>
            {% else %}
              <tr>
                <th scope="row">{{ metadata_label }} </th>
                  <td align="center">{{ year_d }}</td>
                  <td align="center">{{ year_c }}</td>
                  <td align="center">{{ year_b }}</td>
                  <td align="center">{{ year_a }}</td>
              </tr>
            {% endif %}
        {% endif %}


      {% endif %}



    {% endif %}
  {% endfor %}
</table>
