
{% if goal_uri %}
  
  <div class="btn-group btn-group-justified">
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.previous }}" class="btn btn-primary btn-block" role="button">
      {{ t.general.prev_indicator }}
    </a>
    {% if meta.sdg_indicator %}
      <a href="https://g205sdgs.github.io/sdg-indicators{{ meta.sdg_indicator }}" class="btn btn-primary btn-block" role="button">
        <div class="tooltip">{{ t.general.indicator_link_sdg }} {{ meta.sdg_indicator | replace: "/", "" | replace: "-", "."}}
          <span class="tooltiptext">Tooltip Text</span>
        </div>
      </a>
    {% endif %}
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.next }}" class="btn btn-primary btn-block" role="button">
      {{ t.general.next_indicator }}
    </a>
  </div>

<!--
  <div class="tooltip">Hover over me
    <span class="tooltiptext">Tooltip Text</span>
  </div>

  <div class="col-xs-3 col-md-3 col-lg-4">
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.previous }}" class="btn btn-primary btn-block" role="button">
      Previous Indicator1
    </a>
  </div>

  <div class="col-xs-6 col-md-6 col-lg-4">
    {% if meta.sdg_indicator %}
      <a href="https://g205sdgs.github.io/sdg-indicators{{ meta.sdg_indicator }}" class="btn btn-primary btn-block" role="button">
        {{ t.general.indicator_link_sdg }} {{ meta.sdg_indicator | replace: "/", "" | replace: "-", "."}}
      </a>
    {% endif %}
  </div>

  <div class="col-xs-3 col-md-3 col-lg-4">
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.next }}" class="btn btn-primary btn-block" role="button">
      Next Indicator
    </a>
  </div>
-->
{% else %}
  {% if page.sdg_goal == '1' %}
    {% assign next_goal = '2' %}
    {% assign previous_goal = '17' %}
  {% elsif page.sdg_goal == '17' %}
    {% assign next_goal = '1' %}
    {% assign previous_goal = '16' %}
  {% else %}
    {% assign previous_goal = page.sdg_goal | minus: 1 %}
    {% assign next_goal = page.sdg_goal | plus: 1 %}
  {% endif %}

  <div class="btn-group btn-group-justified">
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ previous_goal }}" class="btn btn-primary btn-block" role="button">
      {{ t.general.prev_goal }}
    </a>

    <a href="https://g205sdgs.github.io/sdg-indicators/{{ goal_number }}" class="btn btn-primary btn-block" title="Hello Worlds" role="button">
      {{ t.general.target_link_sdg }} {{ goal_number }}
    </a>

    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ next_goal }}" class="btn btn-primary btn-block" role="button">
      {{ t.general.next_goal }}
    </a>
  </div>

{% endif %}
