

{% if goal_uri %}
  <div class=top-left>
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.previous }}" class="btn btn-s" role="button" title= "{{ t.general.indicator }} {{ meta.previous | replace: '-', '.' }}" style="color:black">
      Previous Indicator
    </a>
  </div>


  {% if meta.sdg_indicator %}
    <div class=top-center>
      <a href="https://g205sdgs.github.io/sdg-indicators{{ meta.sdg_indicator }}" class="btn btn-s" role="button" style="color:black">
        {{ t.general.indicator_link_sdg }} {{ meta.sdg_indicator | replace: "/", "" | replace: "-", "."}}
      </a>
    </div>
  {% endif %}

  <div class=top-right>
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.next }}" class="btn btn-s" role="button" title="next indicator" style="color:black">
      {{ t.general.indicator }} {{ meta.next | replace: "-", "." }}
    </a>
  </div>

{% else %}
  {% if page.sdg_goal == '1' %}
    {% assign next_goal = '2' %}
    {% assign previous_goal = '17' %}
  {% elsif page.sdg_goal == '17' %}
    {% assign next_goal = '1' %}
    {% assign previous_goal = '16' %}
  {% else %}
    {% assign previous_goal = page.sdg_goal | minus: 1 %}
    {% assign next_goal = page.sdg_goal | plus: 1 %}
  {% endif %}

  <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ previous_goal }}" class="btn btn-sm" role="button" title="previous goal" style="color:black">
    {{ t.general.goal }} {{ previous_goal }}
  </a>

  <a href="https://g205sdgs.github.io/sdg-indicators/{{ goal_number }}" class="btn btn-sm" role="button" style="color:black">
    {{ t.general.target_link_sdg }} {{ goal_number }}
  </a>

  <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ next_goal }}" class="btn btn-sm" role="button" title="next goal" style="color:black">
    {{ t.general.goal }} {{ next_goal }}
  </a>

{% endif %}
