
{% if goal_uri %}
<!--
  <div class="btn-group btn-group-justified">
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.previous }}" class="btn btn-primary btn-block" role="button">
      {{ t.general.prev_indicator }}
    </a>
    {% if meta.sdg_indicator %}
      <a href="https://g205sdgs.github.io/sdg-indicators{{ meta.sdg_indicator }}" class="btn btn-primary btn-block" role="button">
        <div class="tooltip">{{ t.general.indicator_link_sdg }} {{ meta.sdg_indicator | replace: "/", "" | replace: "-", "."}}
          <span class="tooltiptext">Tooltip Text</span>
        </div>
      </a>
    {% endif %}
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.next }}" class="btn btn-primary btn-block" role="button">
      {{ t.general.next_indicator }}
    </a>
  </div>
-->

  {% if meta.sdg_indicator %}
    <div class="col-xs-3 col-md-3 col-lg-4">
      <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.previous }}" class="btn btn-primary btn-block G{{ meta.sdg_goal }}-background" role="button">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> <b><span class="hidden-sm hidden-xs">{{ t.general.prev_indicator }}</span></b>
      </a>
    </div>

    <div class="col-xs-6 col-md-6 col-lg-4">
      <a href="https://g205sdgs.github.io/sdg-indicators{{ meta.sdg_indicator }}" class="btn btn-primary btn-block G{{ meta.sdg_goal }}-background" title="{{ t.general.link_sdg_indicator }}" role="button">
        <b><span class="hidden-sm hidden-xs">{{ t.general.indicator_link_sdg }}</span> SDG-{{ meta.sdg_indicator | replace: "/", "" | replace: "-", "."}}</b>
      </a>
    </div>

    <div class="col-xs-3 col-md-3 col-lg-4">
      <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.next }}" class="btn btn-primary btn-block G{{ meta.sdg_goal }}-background" role="button">
        <b><span class="hidden-sm hidden-xs">{{ t.general.next_indicator }}</span></b> <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  {% else  %}
    <div class="col-xs-6 col-md-6 col-lg-6">
      <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.previous }}" class="btn btn-primary btn-block G{{ meta.sdg_goal }}-background" role="button">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> <b><span class="hidden-sm hidden-xs">{{ t.general.prev_indicator }}</span></b>
      </a>
    </div>

    <div class="col-xs-6 col-md-6 col-lg-6">
      <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ meta.next }}" class="btn btn-primary btn-block G{{ meta.sdg_goal }}-background" role="button">
        <b><span class="hidden-sm hidden-xs">{{ t.general.next_indicator }}</span></b> <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  {% endif %}

{% else %}
  {% if page.sdg_goal == '1' %}
    {% assign next_goal = '2' %}
    {% assign previous_goal = '17' %}
  {% elsif page.sdg_goal == '17' %}
    {% assign next_goal = '1' %}
    {% assign previous_goal = '16' %}
  {% else %}
    {% assign previous_goal = page.sdg_goal | minus: 1 %}
    {% assign next_goal = page.sdg_goal | plus: 1 %}
  {% endif %}

  <div class="col-xs-3 col-md-3 col-lg-4">
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ previous_goal }}" class="btn btn-primary btn-block G{{ goal_number }}-background" role="button">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> <span class="hidden-sm hidden-xs" style="color:white">{{ t.general.prev_goal }}</span>
    </a>
  </div>
  <div class="col-xs-6 col-md-6 col-lg-4">
    <a href="https://g205sdgs.github.io/sdg-indicators/{{ goal_number }}" class="btn btn-primary btn-block G{{ goal_number }}-background" title="{{ t.general.link_sdg_goal }}" role="button">
      {{ t.general.target_link_sdg }} {{ goal_number }}
    </a>
  </div>
  <div class="col-xs-3 col-md-3 col-lg-4">
    <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ next_goal }}" class="btn btn-primary btn-block G{{ goal_number }}-background" role="button">
      <span class="hidden-sm hidden-xs" style="color:white">{{ t.general.next_goal }}</span> <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </div>

{% endif %}
