{% include multilingual.html %}
{% include head.html %}
{% include header.html %}

<div id="main-content" class="container reportingstatus">

  <h1>{{ t.summary.status_summary }}</h1>

  {%- for goalreport in site.data.reporting.goals -%}

    {%- assign goal_number = goalreport.goal -%}
    {%- assign goal_short_key = goal_number | append: '-short' -%}
    {%- assign goal_short = t.global_goals[goal_short_key] -%}

    <div class="goal">
        <div class="frame">
          <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/">
            <img src="{{ site.goal_image_base }}/{{ current_language }}/{{ goal_number }}.png" alt="{{ goal_short }} - {{ t.general.goal }} {{ goal_number }}" width="100" height="100" />
          </a>
        </div>

        <div class="details">

          <h3 class="status-goal">
            <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/">{{ goal_short }}</a>
          </h3>

          {% assign goal_indicators = site.data.meta | where: 'sdg_goal', goal_number | sort: 'indicator_sort_order' | group_by: 'target_id' %}
            {% for group in goal_indicators %}
              {% for indicator in group.items %}
                {% for i in (1..2) %}
                  {% assign hty_active = "history_active_" | append: i %}
                  {% assign hty_indicator = "history_indicator_" | append: i %}
                  {% if indicator[hty_active] == true %}
                    <table class="table table-hover">
                      <tr>
                        <th> {{ t.summary.indicator }} </th>
                        <td colspan="4"> {{ indicator[hty_indicator] }} </td>
                      </tr>
                      <tr>
                        <th> {{ t.summary.target }} </th>
                        {% assign target = "history_target_" | append: i %}
                        <td colspan="4"> {{ indicator[target]}} </td>
                      </tr>
                      <tr>
                        <th> {{ t.summary.year }} </th>
                        {% assign letters = "a,b,c,d" | split: ',' %}
                        {% for j in letters %}
                          {% assign year = "history_year_" | append: j | append: "_" | append: i %}
                          <td> {{ indicator[year] }} </td>
                        {% endfor %}
                      </tr>
                      <tr>
                        <th> {{ t.summary.status }} </th>
                        {% assign letters = "a,b,c,d" | split: ',' %}
                        {% for j in letters %}
                          {% assign status = "history_status_year_" | append: j | append: "_" | append: i %}
                          <td> {{ indicator[status] }} </td>
                        {% endfor %}
                      </tr>
                    </table>

                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}


          <div class="divider">
          </div>
        </div>
      <!--</li>-->
      <br style="clear:both;">
    </div>
  {%- endfor -%}

  <!--{{ content }}-->

</div>
{% include footer.html %}
