{% include multilingual.html %}
{% include head.html %}
{% include header.html %}


<div id="main-content" class="container reportingstatus">

  <h1>{{ t.summary.status_summary }}</h1>

  {%- for goalreport in site.data.reporting.goals -%}
    {%- assign goal_number = goalreport.goal -%}
    {%- assign goal_short_key = goal_number | append: '-short' -%}
    {%- assign goal_short = t.global_goals[goal_short_key] -%}
    <div class="goal">
        <div class="frameStatus">
          <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/">
            <img src="{{ site.goal_image_base }}/{{ current_language }}/{{ goal_number }}.png" alt="{{ goal_short }} - {{ t.general.goal }} {{ goal_number }}" width="95%" min-height="60px" />
          </a>
        </div>
        <div cclass="detailsStatus">
          <h3 class="status-goal">
            <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/">{{ goal_short }}</a>

          </h3>

          {% assign goal_indicators = site.data.meta | where: 'sdg_goal', goal_number | sort: 'indicator_sort_order' | group_by: 'target_id' %}
            {% for group in goal_indicators %}
              {% for indicator in group.items %}
                {% for i in (1..2) %}
                  {% assign hty_active = "history_active_" | append: i %}
                  {% assign hty_indicator = "history_indicator_" | append: i %}
                  {% assign idc_sort_order = indicator["indicator_sort_order"] %}
                  {% if indicator[hty_active] == true %}


                    <table class="table table-hover" style="width: 80%" align="right">

                      <tr>
                        <th width="10%"> {{ t.summary.indicator }} </th>
                        <th colspan="9"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/{{ idc_sort_order }}/ ">{{ indicator[hty_indicator] }}</a> </th>
                      </tr>
                      <tr>
                        <th> {{ t.summary.target }} </th>
                        {% assign target = "history_target_" | append: i %}
                        <td colspan="9"> {{ indicator[target]}} </td>
                      </tr>
                      <tr>
                        <th> {{ t.summary.year }} </th>
                        {% assign letters = "i,h,g,f,e,d,c,b,a" | split: ',' %}
                        {% assign add = letters.size %}
                        {% for j in letters %}
                          {% assign year = "history_year_" | append: j | append: "_" | append: i %}
                          {% if indicator[year] %}
                            <td width="10%" align="center"> {{ indicator[year] }} </td>
                            {% assign add = add | minus: 1 %}
                          {% endif %}
                        {% endfor %}
                        {% for k in (1..add) %}
                          <td width="10%" align="center"> </td>
                        {% endfor %}
                      </tr>
                      <tr>
                        <th> {{ t.summary.status }} </th>
                        {% for j in letters %}
                          {% assign status = "history_status_year_" | append: j | append: "_" | append: i %}
                          {% if indicator[status] %}
                            <td width="10%" align="center"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ ">{{ indicator[status] }}</a> </td>
                          {% endif %}
                        {% endfor %}
                        {% for k in (1..add) %}
                          <td width="10%" align="center"> </td>
                        {% endfor %}
                      </tr>
                      <tr> <td colspan="10"> &nbsp; </td> </tr>
                    </table>



                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}


          <div class="divider">
          </div>
        </div>
      <!--</li>-->
      <br style="clear:both;">
    </div>
  {%- endfor -%}

  <!--{{ content }}-->

</div>
{% include footer.html %}
